<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
    <table>
        <h2> Latest <span th:text="${drive}"/> <span th:text="${year}"/></h2>
        <ul th:each="job: ${jobs}">
            <li><a th:href="@{${year}/{id}(id=${job.jobId})}"
                    th:text="${job.companyName + ' ' + job.driveType + ' ' + year + ' | ' + job.profileName + ' | ' +
            job.qualification}"></a></li>
        </ul>
    </table>
</body>
</html>